*{
  padding: 0;
  margin: 0
}
body {
  background-color: #3f51b5;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  background-color: inherit;
  min-height: 10vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.standardForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}